<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<div class="footer">


    <div class="social">
        <a class="social-icon" data-tooltip="GitHub" href="https://github.com/TheNthMichaelNickerson">
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>

        <a class="social-icon" data-tooltip="LinkedIn" href="https://www.linkedin.com/in/michaelryannickerson/">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>

        <a class="social-icon" data-tooltip="Twitter" href="https://twitter.com/thyme_soup">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </div>
    <div class="spacer">
        
    </div>
</div>