<div id="projects" class="container">
    <div class="title-top"><h1>Projects</h1></div>
    <div class="grid-display">
        <!--Throw Template Here for each project :: Implement lazy load carousel -->
        <div class="project-template" *ngFor="let project of projects | async">
            <div class="project-image-container">
                <a href="{{ project.gitUrl }}">
                    <img src="{{ project.imageUrl }}" alt="Project Index">
                </a>
            </div>
            <div class="description-container">
                <h1 class="pointer"> >> </h1>
                <a href="{{ project.gitUrl }}">
                    <h1 class="title">{{ project.name }}</h1>
                </a>
                
                <p class="description">
                    {{ project.description }}
                </p>
            </div>
        </div>
    </div>
    <!--More projects-->
    <div class="button_container">
        <a href="#">More</a>
    </div>
</div>

