* {
    box-sizing: border-box;
}

.star {
    display: inline-block;
    background-color: salmon;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 1rem;
    height: 1rem;
}