* {
    box-sizing: border-box;
}

h1 {
    margin-top: 15%;
    font-family: 'Merriweather', serif;
}


.color-container {
    background-color: whitesmoke;
}


.container {
    background-color: darkslategray;
    color: whitesmoke;
    text-align: center;
    /*clip-path: polygon(0% 0%, 25% 16%, 50% 2%, 75% 12%, 100% 3%,              100% 100%, 0% 100%);*/
    /*clip-path: polygon(0% 20%, 10% 18%, 20% 13%, 30% 6%, 40% 1%, 50% 0%, 60% 1%, 70% 6%, 80% 13%, 90% 18%, 100% 19%, 100% 100%, 0% 100%);*/
    clip-path: polygon( 0% 16%, 2% 16%, 5% 15%, 7% 14%, 10% 13%, 12% 12%, 15% 10%, 17% 9%, 20% 8%, 22% 7%, 25% 6%, 27% 6%, 30% 6%, 32% 6%, 35% 7%, 37% 7%, 40% 8%, 42% 8%, 45% 9%, 47% 9%, 50% 9%, 52% 9%, 55% 9%, 57% 8%, 60% 8%, 62% 7%, 65% 7%, 67% 6%, 70% 6%, 72% 6%, 75% 6%, 77% 7%, 80% 8%, 82% 9%, 85% 10%, 87% 12%, 90% 13%, 92% 14%, 95% 15%, 97% 16%, 100% 16%,/*Fills the shape*/100% 100%, 0% 100%);
    animation: clips3 3s linear infinite;
}

.content {
    padding: 10% 0;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skills-container .column1 {
    order: 1;
    background-color: darkslategray;
    border-radius: 10%;
    padding: 2% 2%;
    width: 100%;
    max-width: 300px;
    margin: auto 1%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.skills-container .column2 {
    order: 2;
    background-color: darkslategray;
    border-radius: 10%;
    padding: 2% 2%;
    max-width: 300px;
    width: 100%;
    margin: auto 1%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
/*coolers.co*/
ul {

}

li {
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    padding: 10% auto;
    list-style-type: '>  ';
    text-align: left;
}


.star {
    display: inline-block;
    background-color: salmon;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 0.75em;
    height: 0.75em;
}



@keyframes clips2{
    0% {
        clip-path: polygon(0% 20%, 10% 18%, 20% 13%, 30% 6%, 40% 1%, 50% 0%, 60% 1%, 70% 6%, 80% 13%, 90% 18%, 100% 19%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    25% {
        clip-path: polygon( 0% 10%, 10% 4%, 20% 0%, 30% 0%, 40% 4%, 50% 9%, 60% 15%, 70% 19%, 80% 19%, 90% 15%, 100% 10%,/*Fills the shape*/100% 100%, 0% 100%);  
    }
    50% {
        clip-path: polygon( 0% 0%, 10% 1%, 20% 6%, 30% 13%, 40% 18%, 50% 19%, 60% 18%, 70% 13%, 80% 6%, 90% 1%, 100% 0%,/*Fills the shape*/100% 100%, 0% 100%); 
    }
    75% {
        clip-path: polygon( 0% 9%, 10% 15%, 20% 19%, 30% 19%, 40% 15%, 50% 10%, 60% 4%, 70% 0%, 80% 0%, 90% 4%, 100% 9%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon( 0% 19%, 10% 18%, 20% 13%, 30% 6%, 40% 1%, 50% 0%, 60% 1%, 70% 6%, 80% 13%, 90% 18%, 100% 19%,/*Fills the shape*/100% 100%, 0% 100%);
    }
  }

  @keyframes clips3{
    0% {
        clip-path: polygon( 0% 16%, 2% 16%, 5% 15%, 7% 14%, 10% 13%, 12% 12%, 15% 10%, 17% 9%, 20% 8%, 22% 7%, 25% 6%, 27% 6%, 30% 6%, 32% 6%, 35% 7%, 37% 7%, 40% 8%, 42% 8%, 45% 9%, 47% 9%, 50% 9%, 52% 9%, 55% 9%, 57% 8%, 60% 8%, 62% 7%, 65% 7%, 67% 6%, 70% 6%, 72% 6%, 75% 6%, 77% 7%, 80% 8%, 82% 9%, 85% 10%, 87% 12%, 90% 13%, 92% 14%, 95% 15%, 97% 16%, 100% 16%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    5% {
        clip-path: polygon( 0% 15%, 2% 14%, 5% 13%, 7% 12%, 10% 10%, 12% 9%, 15% 8%, 17% 7%, 20% 6%, 22% 6%, 25% 6%, 27% 6%, 30% 7%, 32% 7%, 35% 8%, 37% 8%, 40% 9%, 42% 9%, 45% 9%, 47% 9%, 50% 9%, 52% 8%, 55% 8%, 57% 7%, 60% 7%, 62% 6%, 65% 6%, 67% 6%, 70% 6%, 72% 7%, 75% 8%, 77% 9%, 80% 10%, 82% 12%, 85% 13%, 87% 14%, 90% 15%, 92% 16%, 95% 16%, 97% 16%, 100% 15%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    10% {
        clip-path: polygon( 0% 13%, 2% 12%, 5% 10%, 7% 9%, 10% 8%, 12% 7%, 15% 6%, 17% 6%, 20% 6%, 22% 6%, 25% 7%, 27% 7%, 30% 8%, 32% 8%, 35% 9%, 37% 9%, 40% 9%, 42% 9%, 45% 9%, 47% 8%, 50% 8%, 52% 7%, 55% 7%, 57% 6%, 60% 6%, 62% 6%, 65% 6%, 67% 7%, 70% 8%, 72% 9%, 75% 10%, 77% 12%, 80% 13%, 82% 14%, 85% 15%, 87% 16%, 90% 16%, 92% 16%, 95% 15%, 97% 14%, 100% 13%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    15% {
        clip-path: polygon( 0% 10%, 2% 9%, 5% 8%, 7% 7%, 10% 6%, 12% 6%, 15% 6%, 17% 6%, 20% 7%, 22% 7%, 25% 8%, 27% 8%, 30% 9%, 32% 9%, 35% 9%, 37% 9%, 40% 9%, 42% 8%, 45% 8%, 47% 7%, 50% 7%, 52% 6%, 55% 6%, 57% 6%, 60% 6%, 62% 7%, 65% 8%, 67% 9%, 70% 10%, 72% 12%, 75% 13%, 77% 14%, 80% 15%, 82% 16%, 85% 16%, 87% 16%, 90% 15%, 92% 14%, 95% 13%, 97% 12%, 100% 10%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    20% {
        clip-path: polygon( 0% 8%, 2% 7%, 5% 6%, 7% 6%, 10% 6%, 12% 6%, 15% 7%, 17% 7%, 20% 8%, 22% 8%, 25% 9%, 27% 9%, 30% 9%, 32% 9%, 35% 9%, 37% 8%, 40% 8%, 42% 7%, 45% 7%, 47% 6%, 50% 6%, 52% 6%, 55% 6%, 57% 7%, 60% 8%, 62% 9%, 65% 10%, 67% 12%, 70% 13%, 72% 14%, 75% 15%, 77% 16%, 80% 16%, 82% 16%, 85% 15%, 87% 14%, 90% 13%, 92% 12%, 95% 10%, 97% 9%, 100% 8%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    25% {
        clip-path: polygon( 0% 6%, 2% 6%, 5% 6%, 7% 6%, 10% 7%, 12% 7%, 15% 8%, 17% 8%, 20% 9%, 22% 9%, 25% 9%, 27% 9%, 30% 9%, 32% 8%, 35% 8%, 37% 7%, 40% 7%, 42% 6%, 45% 6%, 47% 6%, 50% 6%, 52% 7%, 55% 8%, 57% 9%, 60% 10%, 62% 12%, 65% 13%, 67% 14%, 70% 15%, 72% 16%, 75% 16%, 77% 16%, 80% 15%, 82% 14%, 85% 13%, 87% 12%, 90% 10%, 92% 9%, 95% 8%, 97% 7%, 100% 6%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    30% {
        clip-path: polygon( 0% 6%, 2% 6%, 5% 7%, 7% 7%, 10% 8%, 12% 8%, 15% 9%, 17% 9%, 20% 9%, 22% 9%, 25% 9%, 27% 8%, 30% 8%, 32% 7%, 35% 7%, 37% 6%, 40% 6%, 42% 6%, 45% 6%, 47% 7%, 50% 8%, 52% 9%, 55% 10%, 57% 12%, 60% 13%, 62% 14%, 65% 15%, 67% 16%, 70% 16%, 72% 16%, 75% 15%, 77% 14%, 80% 13%, 82% 12%, 85% 10%, 87% 9%, 90% 8%, 92% 7%, 95% 6%, 97% 6%, 100% 6%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    35% {
        clip-path: polygon( 0% 7%, 2% 7%, 5% 8%, 7% 8%, 10% 9%, 12% 9%, 15% 9%, 17% 9%, 20% 9%, 22% 8%, 25% 8%, 27% 7%, 30% 7%, 32% 6%, 35% 6%, 37% 6%, 40% 6%, 42% 7%, 45% 8%, 47% 9%, 50% 10%, 52% 12%, 55% 13%, 57% 14%, 60% 15%, 62% 16%, 65% 16%, 67% 16%, 70% 15%, 72% 14%, 75% 13%, 77% 12%, 80% 10%, 82% 9%, 85% 8%, 87% 7%, 90% 6%, 92% 6%, 95% 6%, 97% 6%, 100% 7%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    40% {
        clip-path: polygon( 0% 8%, 2% 8%, 5% 9%, 7% 9%, 10% 9%, 12% 9%, 15% 9%, 17% 8%, 20% 8%, 22% 7%, 25% 7%, 27% 6%, 30% 6%, 32% 6%, 35% 6%, 37% 7%, 40% 8%, 42% 9%, 45% 10%, 47% 12%, 50% 13%, 52% 14%, 55% 15%, 57% 16%, 60% 16%, 62% 16%, 65% 15%, 67% 14%, 70% 13%, 72% 12%, 75% 10%, 77% 9%, 80% 8%, 82% 7%, 85% 6%, 87% 6%, 90% 6%, 92% 6%, 95% 7%, 97% 7%, 100% 8%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    44% {
        clip-path: polygon( 0% 9%, 2% 9%, 5% 9%, 7% 9%, 10% 9%, 12% 8%, 15% 8%, 17% 7%, 20% 7%, 22% 6%, 25% 6%, 27% 6%, 30% 6%, 32% 7%, 35% 8%, 37% 9%, 40% 10%, 42% 12%, 45% 13%, 47% 14%, 50% 15%, 52% 16%, 55% 16%, 57% 16%, 60% 15%, 62% 14%, 65% 13%, 67% 12%, 70% 10%, 72% 9%, 75% 8%, 77% 7%, 80% 6%, 82% 6%, 85% 6%, 87% 6%, 90% 7%, 92% 7%, 95% 8%, 97% 8%, 100% 9%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    49% {
        clip-path: polygon( 0% 9%, 2% 9%, 5% 9%, 7% 8%, 10% 8%, 12% 7%, 15% 7%, 17% 6%, 20% 6%, 22% 6%, 25% 6%, 27% 7%, 30% 8%, 32% 9%, 35% 10%, 37% 12%, 40% 13%, 42% 14%, 45% 15%, 47% 16%, 50% 16%, 52% 16%, 55% 15%, 57% 14%, 60% 13%, 62% 12%, 65% 10%, 67% 9%, 70% 8%, 72% 7%, 75% 6%, 77% 6%, 80% 6%, 82% 6%, 85% 7%, 87% 7%, 90% 8%, 92% 8%, 95% 9%, 97% 9%, 100% 9%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    54% {
        clip-path: polygon( 0% 9%, 2% 8%, 5% 8%, 7% 7%, 10% 7%, 12% 6%, 15% 6%, 17% 6%, 20% 6%, 22% 7%, 25% 8%, 27% 9%, 30% 10%, 32% 12%, 35% 13%, 37% 14%, 40% 15%, 42% 16%, 45% 16%, 47% 16%, 50% 15%, 52% 14%, 55% 13%, 57% 12%, 60% 10%, 62% 9%, 65% 8%, 67% 7%, 70% 6%, 72% 6%, 75% 6%, 77% 6%, 80% 7%, 82% 7%, 85% 8%, 87% 8%, 90% 9%, 92% 9%, 95% 9%, 97% 9%, 100% 9%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    60% {
        clip-path: polygon( 0% 8%, 2% 7%, 5% 7%, 7% 6%, 10% 6%, 12% 6%, 15% 6%, 17% 7%, 20% 8%, 22% 9%, 25% 10%, 27% 12%, 30% 13%, 32% 14%, 35% 15%, 37% 16%, 40% 16%, 42% 16%, 45% 15%, 47% 14%, 50% 13%, 52% 12%, 55% 10%, 57% 9%, 60% 8%, 62% 7%, 65% 6%, 67% 6%, 70% 6%, 72% 6%, 75% 7%, 77% 7%, 80% 8%, 82% 8%, 85% 9%, 87% 9%, 90% 9%, 92% 9%, 95% 9%, 97% 8%, 100% 8%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    65% {
        clip-path: polygon( 0% 7%, 2% 6%, 5% 6%, 7% 6%, 10% 6%, 12% 7%, 15% 8%, 17% 9%, 20% 10%, 22% 12%, 25% 13%, 27% 14%, 30% 15%, 32% 16%, 35% 16%, 37% 16%, 40% 15%, 42% 14%, 45% 13%, 47% 12%, 50% 10%, 52% 9%, 55% 8%, 57% 7%, 60% 6%, 62% 6%, 65% 6%, 67% 6%, 70% 7%, 72% 7%, 75% 8%, 77% 8%, 80% 9%, 82% 9%, 85% 9%, 87% 9%, 90% 9%, 92% 8%, 95% 8%, 97% 7%, 100% 7%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    70% {
        clip-path: polygon( 0% 6%, 2% 6%, 5% 6%, 7% 7%, 10% 8%, 12% 9%, 15% 10%, 17% 12%, 20% 13%, 22% 14%, 25% 15%, 27% 16%, 30% 16%, 32% 16%, 35% 15%, 37% 14%, 40% 13%, 42% 12%, 45% 10%, 47% 9%, 50% 8%, 52% 7%, 55% 6%, 57% 6%, 60% 6%, 62% 6%, 65% 7%, 67% 7%, 70% 8%, 72% 8%, 75% 9%, 77% 9%, 80% 9%, 82% 9%, 85% 9%, 87% 8%, 90% 8%, 92% 7%, 95% 7%, 97% 6%, 100% 6%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    75% {
        clip-path: polygon( 0% 6%, 2% 7%, 5% 8%, 7% 9%, 10% 10%, 12% 12%, 15% 13%, 17% 14%, 20% 15%, 22% 16%, 25% 16%, 27% 16%, 30% 15%, 32% 14%, 35% 13%, 37% 12%, 40% 10%, 42% 9%, 45% 8%, 47% 7%, 50% 6%, 52% 6%, 55% 6%, 57% 6%, 60% 7%, 62% 7%, 65% 8%, 67% 8%, 70% 9%, 72% 9%, 75% 9%, 77% 9%, 80% 9%, 82% 8%, 85% 8%, 87% 7%, 90% 7%, 92% 6%, 95% 6%, 97% 6%, 100% 6%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    80% {
        clip-path: polygon( 0% 8%, 2% 9%, 5% 10%, 7% 12%, 10% 13%, 12% 14%, 15% 15%, 17% 16%, 20% 16%, 22% 16%, 25% 15%, 27% 14%, 30% 13%, 32% 12%, 35% 10%, 37% 9%, 40% 8%, 42% 7%, 45% 6%, 47% 6%, 50% 6%, 52% 6%, 55% 7%, 57% 7%, 60% 8%, 62% 8%, 65% 9%, 67% 9%, 70% 9%, 72% 9%, 75% 9%, 77% 8%, 80% 8%, 82% 7%, 85% 7%, 87% 6%, 90% 6%, 92% 6%, 95% 6%, 97% 7%, 100% 8%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    85% {
        clip-path: polygon( 0% 10%, 2% 12%, 5% 13%, 7% 14%, 10% 15%, 12% 16%, 15% 16%, 17% 16%, 20% 15%, 22% 14%, 25% 13%, 27% 12%, 30% 10%, 32% 9%, 35% 8%, 37% 7%, 40% 6%, 42% 6%, 45% 6%, 47% 6%, 50% 7%, 52% 7%, 55% 8%, 57% 8%, 60% 9%, 62% 9%, 65% 9%, 67% 9%, 70% 9%, 72% 8%, 75% 8%, 77% 7%, 80% 7%, 82% 6%, 85% 6%, 87% 6%, 90% 6%, 92% 7%, 95% 8%, 97% 9%, 100% 10%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    90% {
        clip-path: polygon( 0% 13%, 2% 14%, 5% 15%, 7% 16%, 10% 16%, 12% 16%, 15% 15%, 17% 14%, 20% 13%, 22% 12%, 25% 10%, 27% 9%, 30% 8%, 32% 7%, 35% 6%, 37% 6%, 40% 6%, 42% 6%, 45% 7%, 47% 7%, 50% 8%, 52% 8%, 55% 9%, 57% 9%, 60% 9%, 62% 9%, 65% 9%, 67% 8%, 70% 8%, 72% 7%, 75% 7%, 77% 6%, 80% 6%, 82% 6%, 85% 6%, 87% 7%, 90% 8%, 92% 9%, 95% 10%, 97% 12%, 100% 13%,/*Fills the shape*/100% 100%, 0% 100%);
    }
    95% {
        clip-path: polygon( 0% 15%, 2% 16%, 5% 16%, 7% 16%, 10% 15%, 12% 14%, 15% 13%, 17% 12%, 20% 10%, 22% 9%, 25% 8%, 27% 7%, 30% 6%, 32% 6%, 35% 6%, 37% 6%, 40% 7%, 42% 7%, 45% 8%, 47% 8%, 50% 9%, 52% 9%, 55% 9%, 57% 9%, 60% 9%, 62% 8%, 65% 8%, 67% 7%, 70% 7%, 72% 6%, 75% 6%, 77% 6%, 80% 6%, 82% 7%, 85% 8%, 87% 9%, 90% 10%, 92% 12%, 95% 13%, 97% 14%, 100% 15%,/*Fills the shape*/100% 100%, 0% 100%);
    }
  }

  