* {
    box-sizing: border-box;
}

ul {

}

li {
    list-style-type: '>  ';
    text-align: left;
}


.container {
    background-color: darkslategray;
    color: whitesmoke;
    text-align: center;
    clip-path: polygon(0% 0%, 25% 16%, 50% 2%, 75% 12%, 100% 3%, 100% 100%, 0% 100%);
    animation: clips2 5s ease infinite;
}

.content {
    padding: 5% 10%;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.star {
    display: inline-block;
    background-color: salmon;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 1rem;
    height: 1rem;
}



@keyframes clips2{
    50% {
        clip-path: polygon(0% 0%, 25% 6%, 50% 20%, 75% 2%, 100% 3%, 100% 100%, 0% 100%);
    }
    75% {
        clip-path: polygon(0% 3%, 25% 13%, 50% 6%, 75% 20%, 100% 2%, 100% 100%, 0% 100%); 
       }
  }