<div class="container">
    <h1 class="title">Education</h1>
    <div class="center">
        <div class="edu-container">
            <p>University of Massachusetts Lowell, Lowell, MA</p>
            <p>Candidate for a Bachelor of Science in Computer Science</p>
            <p>Expected Graduation: May 2022</p>
            <p>Undeclared Minor in Math and Robotics</p>
            <p>GPA: 3.5</p>
        </div>
    </div>
    <div class="education-container">
        <div class="classes">
            <h2 class="title">Relevant Coursework</h2>
            <ul class="classes-list">
                <li>Computing I-III</li>
                <li>Logic Design</li>
                <li>Assembly</li>
                <li>Calculus I-II</li>
                <li>Discrete Structures I</li>
                <li>Physics I</li>
            </ul>
        </div>
        <div class="activities">
            <h2 class="title">Activities</h2>
            <ul class="activities-list">
                <li>ACM</li>
                <li>Robotics Club</li>
            </ul>
        </div>
        
    </div>
</div>


<!--
Education
University of MassachusettsLowell,Lowell, MA
Candidate for a Bachelor of Science in Computer Science
May 2022
Minor:Math and Robotics
GPA: 3.5
Relevant Coursework: Computing I-III, LogicDesign, Assembly, Calculus II
Activities:ACM, Robotics Club
-->