@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    padding: 5% 0;
    background-color: whitesmoke;
}

.edu-container {
    text-align: center;
    background-color: whitesmoke;
    padding: 3% 0%;
}

.edu-container p {
    text-align: left;
}

.education-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.title {
    font-family: 'Merriweather', serif;
}
h2 { 
  font-size: 1.25rem;  
}

.education-container .classes {
    order: 2;
}

.education-container .activities {
    order: 3;
}

ul {
}

ul li {
    list-style-type: '>  ';
    text-align: left;
}

