@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 625px;
    margin: 0 auto;
}

.container {
    text-align: center;
    padding: 5% 0;
    background-color: whitesmoke;
}

.edu-container {
    text-align: center;
    background-color: whitesmoke;
    padding-bottom: 3%;
}

.edu-container p {
    text-align: left;
    
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    width: 90%;
    max-width: 625px;
    margin: auto;
}

.classes {
    order: 1;
    padding: 2%;
    margin:15px;
}

.activities {
    order: 2;
    padding: 2%;
    margin:15px;
}

.labs {
    order: 3;
    padding: 2%;
    margin:15px;
}


.title {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
}
h2 { 
  font-size: 1.25rem;  
}

.education-container .classes {
    order: 2;
}

.education-container .activities {
    order: 3;
}

ul {
    font-size: 1.2rem;
}

ul li {
    list-style-type: '>  ';
    text-align: left;
}

