<div class="container">
    <h1 class="title">Education</h1>
    <div class="center">
        <div class="edu-container">
            <p>University of Massachusetts Lowell, Lowell, MA</p>
            <p>Candidate for a Bachelor of Science in Computer Science</p>
            <p>Expected Graduation: May 2022</p>
            <p>Undeclared Minor in Math and Robotics</p>
            <p>GPA: 3.5</p>
        </div>
    </div>
    <div class="education-container">
        <div class="classes">
            <h2 class="title">Relevant Coursework</h2>
            <ul class="classes-list">
                <li><a href="https://www.uml.edu/catalog/courses/COMP/1020?courselist=%2Fcatalog%2Fadvance-search.aspx%3Ftitle%3DComputing%2520II%26type%3Dtitle">Computing I-III</a></li>
                <li><a href="https://www.uml.edu/catalog/courses/EECE/2650?courselist=%2Fcatalog%2Fadvance-search.aspx%3Ftitle%3DLogic%2520Design%26type%3Dtitle">Logic Design</a></li>
                <li><a href="https://www.uml.edu/catalog/courses/COMP/2030?courselist=%2Fcatalog%2Fadvance-search.aspx%3Ftitle%3DASsembly%26type%3Dtitle">Assembly</a></li>
                <li><a href="https://www.uml.edu/catalog/courses/MATH/1320?courselist=%2Fcatalog%2Fadvance-search.aspx%3Ftitle%3DCalculus%2520II%26type%3Dtitle">Calculus I-II</a></li>
                <li><a href="https://www.uml.edu/catalog/courses/MATH/2190?courselist=%2Fcatalog%2Fadvance-search.aspx%3Ftitle%3DDiscrete%2520Structures%26type%3Dtitle">Discrete Structures I</a></li>
                <li><a href="https://www.uml.edu/catalog/courses/PHYS/1410?courselist=%2Fcatalog%2Fadvance-search.aspx%3Ftitle%3DPhysics%26type%3Dtitle">Physics I</a></li>
            </ul>
        </div>
        <div class="activities">
            <h2 class="title">Activities</h2>
            <ul class="activities-list">
                <li><a href="https://umlacm.org/">ACM</a></li>
                <li><a href="https://umasslowellclubs.campuslabs.com/engage/organization/riverhawkrobotics">Robotics Club</a></li>
            </ul>
        </div>
        <div class="labs">
            <h2 class="title">Labs</h2>
            <ul class="activities-list">
                <li><a href="https://www.uml.edu/catalog/courses/PHYS/1410L?courselist=%2Fcatalog%2Fadvance-search.aspx%3Ftitle%3DPhysics%26type%3Dtitle">Physics I Lab</a></li>
                <li><a href="https://www.uml.edu/catalog/courses/comp/1040l">Computing I-III Labs</a></li>
                <li><a href="https://www.uml.edu/catalog/courses/COMP/2030R?courselist=%2Fcatalog%2Fadvance-search.aspx%3Ftitle%3DASsembly%26type%3Dtitle">Assembly Lab</a></li>
            </ul>
        </div>
    </div>
</div>


<!--
Education
University of MassachusettsLowell,Lowell, MA
Candidate for a Bachelor of Science in Computer Science
May 2022
Minor:Math and Robotics
GPA: 3.5
Relevant Coursework: Computing I-III, LogicDesign, Assembly, Calculus II
Activities:ACM, Robotics Club
-->