<div class="container">
    <h1 class="title">Education</h1>
    <div class="center">
        <div class="edu-container">
            <p>University of Massachusetts Lowell, Lowell, MA</p>
            <p>Candidate for a Bachelor of Science in Computer Science</p>
            <p>Expected Graduation: May 2022</p>
            <p>Undeclared Minor in Math and Robotics</p>
            <p>GPA: 3.5</p>
        </div>
    </div>
    <div class="education-container">
        <div class="classes">
            <h2 class="title">Relevant Coursework</h2>
            <ul class="classes-list">
                <li><a href="#">Computing I-III</a></li>
                <li><a href="#">Logic Design</a></li>
                <li><a href="#">Assembly</a></li>
                <li><a href="#">Calculus I-II</a></li>
                <li><a href="#">Discrete Structures I</a></li>
                <li><a href="#">Physics I</a></li>
            </ul>
        </div>
        <div class="activities">
            <h2 class="title">Activities</h2>
            <ul class="activities-list">
                <li><a href="#">ACM</a></li>
                <li><a href="#">Robotics Club</a></li>
            </ul>
        </div>
        <div class="labs">
            <h2 class="title">Labs</h2>
            <ul class="activities-list">
                <li><a href="#">Physics I Lab</a></li>
                <li><a href="#">Computing I-III Labs</a></li>
                <li><a href="#">Assembly Lab</a></li>
            </ul>
        </div>
    </div>
</div>


<!--
Education
University of MassachusettsLowell,Lowell, MA
Candidate for a Bachelor of Science in Computer Science
May 2022
Minor:Math and Robotics
GPA: 3.5
Relevant Coursework: Computing I-III, LogicDesign, Assembly, Calculus II
Activities:ACM, Robotics Club
-->