* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: darkslategray;
    height: 5%;
}

.spacer {
    width: 100%;
    background-color: darksalmon;
    clip-path: polygon( 0% 16%, 10% 13%, 20% 8%, 30% 6%, 40% 8%, 50% 9%, 60% 8%, 70% 6%, 80% 8%, 90% 13%, 100% 16%, 100% 84%, 90% 87%, 80% 92%, 70% 94%, 60% 92%, 50% 91%, 40% 92%, 30% 94%, 20% 92%, 10% 87%, 0% 84%);
    animation: salmonWave 2s linear infinite;
    height: 100%;
}

@keyframes salmonWave {
    0% {
        clip-path: polygon( 0% 16%, 10% 13%, 20% 8%, 30% 6%, 40% 8%, 50% 9%, 60% 8%, 70% 6%, 80% 8%, 90% 13%, 100% 16%, 100% 84%, 90% 87%, 80% 92%, 70% 94%, 60% 92%, 50% 91%, 40% 92%, 30% 94%, 20% 92%, 10% 87%, 0% 84%);
    }
    20% {
        clip-path: polygon( 0% 8%, 10% 6%, 20% 8%, 30% 9%, 40% 8%, 50% 6%, 60% 8%, 70% 13%, 80% 16%, 90% 13%, 100% 8%, 100% 92%, 90% 94%, 80% 92%, 70% 91%, 60% 92%, 50% 94%, 40% 92%, 30% 87%, 20% 84%, 10% 87%, 0% 92%);
    }
    40% {
        clip-path: polygon( 0% 8%, 10% 9%, 20% 8%, 30% 6%, 40% 8%, 50% 13%, 60% 16%, 70% 13%, 80% 8%, 90% 6%, 100% 8%, 100% 92%, 90% 91%, 80% 92%, 70% 94%, 60% 92%, 50% 87%, 40% 84%, 30% 87%, 20% 92%, 10% 94%, 0% 92%);
    }
    60% {
        clip-path: polygon( 0% 8%, 10% 6%, 20% 8%, 30% 13%, 40% 16%, 50% 13%, 60% 8%, 70% 6%, 80% 8%, 90% 9%, 100% 8%, 100% 92%, 90% 94%, 80% 92%, 70% 87%, 60% 84%, 50% 87%, 40% 92%, 30% 94%, 20% 92%, 10% 91%, 0% 92%);
    }
    80% {
        clip-path: polygon( 0% 8%, 10% 13%, 20% 16%, 30% 13%, 40% 8%, 50% 6%, 60% 8%, 70% 9%, 80% 8%, 90% 6%, 100% 8%, 100% 92%, 90% 87%, 80% 84%, 70% 87%, 60% 92%, 50% 94%, 40% 92%, 30% 91%, 20% 92%, 10% 94%, 0% 92%);
    }
    100% {
        clip-path: polygon( 0% 16%, 10% 13%, 20% 8%, 30% 6%, 40% 8%, 50% 9%, 60% 8%, 70% 6%, 80% 8%, 90% 13%, 100% 16%, 100% 84%, 90% 87%, 80% 92%, 70% 94%, 60% 92%, 50% 91%, 40% 92%, 30% 94%, 20% 92%, 10% 87%, 0% 84%);
    }
    
}