<div class="center-container">
    <h1>About me</h1>
    <div class="about-container">
        <p>
        I am currently a student at the University of Massachusetts Lowell studying for a bachelors in Computer Science. 
        Prior to transferring there I was a student at Westfield State for two semesters before I decided to transfer to a
        closer school. At both universities I've had great experiences. My previous cs1020 teacher Steve Bourghous was a great 
        lecturer and often provided insights onto personal projects. MY teachers at the University of Massachusetts Lowell were 
        also a great help when it came to engaging material and labs. My main interests in my field are Algorithm Design, Simulation, 
        Desktop Applications, Image Processing, Machine Learning, and Web Development. I also have interests in hardware although the 
        projects I do I treat mainly as a hobby.
        </p>
    </div>
</div>
<div class="position-geometry">
    <a href="#"><div class="under-geometry"></div></a>
</div>

